<!-- <ngx-charts-bar-vertical-2d -->
<p>{{ questionario.label }}</p>
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
<!-- </ngx-charts-bar-vertical-2d> -->


<ngx-charts-advanced-pie-chart
  [view]="view2"
  [scheme]="colorScheme"
  [results]="dataDetalhes"
  [gradient]="gradient">
</ngx-charts-advanced-pie-chart>
